@font-face {
    font-family: oldEnglish;
    src: url(./font/ArtOfIlluminating.ttf);
}
    .topnav {    
        overflow: hidden;
      }
      .topnav a {
        float: right;
        color: rgba(133, 104, 81, 0.527);
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-family: oldEnglish;
        font-size: 20px;
      }
      .topnav a:hover {
        background-color: #ddd;
        color: black;
      }

body {
    background-image: url("./littledeaths.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 2500px 1600px;

    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
  }

  h1{
      font-size: 80px;
      font-family: oldEnglish;
      color: rgba(124, 38, 23, 0.836);
      text-shadow: 2px 2px rgba(9, 26, 16, 0.719);
      
  }
  h2{
      font-size: 45px;
      font-family: oldEnglish;
      color: rgba(133, 104, 81, 0.527);
      text-shadow: 2px 2px rgba(9, 26, 16, 0.719);
      
  }